<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectchat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.software.sip"
        android:required="true" />
    <uses-feature
        android:name="android.software.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.opengles.aep"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".SipPhone"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".MyContent"
            android:exported="false" />
        <activity
            android:name=".AddMyContent"
            android:exported="false" />
        <activity
            android:name=".ScreenSlidePagerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForwardActivity"
            android:exported="false"
            android:label="@string/title_activity_forward"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newChatPage"
            android:label="@string/title_activity_new_chat_page"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

        </activity>

        <service
            android:name=".MyServicePush"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ImageActivity" />
        <activity
            android:name=".CreateGroup"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="login" />
        <activity
            android:name=".loadAvatar.Avatar"
            android:label="avatar" />
        <activity
            android:name=".loadAvatar.ImageAvatarActivity"
            android:label="imageavataractivity" />
        <activity
            android:name=".News.NewsActivity"
            android:label="newsactivity" />

        <receiver
            android:name=".MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.projectchat.ACTION_MESSAGE_READ" />
                <action android:name="com.example.projectchat.ACTION_WEAKUP" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StopJobService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.projectchat.ACTION_MESSAGE_READ" />
                <action android:name="com.example.projectchat.ACTION_WEAKUP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:parentActivityName=".newChatPage"
            android:label="" />

        <service
            android:name=".ServiceChat"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>